<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera permission to Identity Verification</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photos permission to Identity Verification</string>
	<key>CybridClientId</key>
	<string>VvYNFkSdQ47_-RnV6-Ll6apypP822oZJ25_d5fhH-TQ</string>
	<key>CybridClientSecret</key>
	<string>OnwvS9bRdvOTwY11KvG3r6TtRHiYUkUiO8wHh1clXxM</string>
	<key>CybridCustomerGUID</key>
	<string>bf1595c8063dbcca0a2b4ae28cda8e12</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
